@@delete
%h3 Are you sure you want to delete #{@stations.name}?
%form(action="/stations/#{@stations.id}" method="post")
  %input(type="hidden" name="_method" value="DELETE")
  %input(type="submit" value="Delete") or <a href="/stations">Cancel</a>